body {
    margin: 0;
    background-color: #180b01;
}

canvas {
    display: block;
}

#loading-text {
    display: block;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    color: white;
}